<!doctype html> 
<html lang="en">
   <head>
      <meta charset="utf-8" >
      <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.html" >
      <link rel="icon" type="image/png" href="/images/lencoin.png" >
      <meta http-equiv="X-UA-Compatible" content="IE=edge" >
      <meta name="description" content="Lencoin">
      
      <title>{{ title }} - Lencoin</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
      <meta name="viewport" content="width=device-width" >
      <!-- Bootstrap core CSS     --> 
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" >
      <link href="/static/css/style.tree.min.css" rel='stylesheet' type='text/css'>
      <!--  Paper Dashboard CSS    --> 
      <link href="/static/css/amaze.css" rel="stylesheet" >
      <!--  CSS for Demo Purpose, don't include it in your project     --> 
      <link href="/static/css/demo.css" rel="stylesheet" >
      <!--     Fonts and icons     --> 
      <link href="/static/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/css/jquery.toast.css" rel="stylesheet">
      <link href="/static/css/font-muli.css" rel='stylesheet' type='text/css'>
      <link href="/static/css/themify-icons.css" rel="stylesheet">
      <link href="/static/vendors/jquery-ui-1.12.0/jquery-ui.css" rel="stylesheet">
      <link href="/static/vendors/sweetalert/css/sweetalert2.min.css" rel="Stylesheet" >
      <link href="/static/vendors/sweetalert/css/swal-forms.css" rel="Stylesheet" >
      <link rel="stylesheet" href="/static/css/circle.css">
      <!-- Start Alexa Certify Javascript -->
<script type="text/javascript">
_atrk_opts = { atrk_acct:"dzn6q1d0RC20XR", domain:"lencoin.co",dynamic: true};
(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
</script>
<noscript><img src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=dzn6q1d0RC20XR" style="display:none" height="1" width="1" alt="" /></noscript>
<!-- End Alexa Certify Javascript -->  
   </head>
   <body ng-app='myApp'>
   <input type="hidden" id="date_start_ico" value="{{date_start}}" name="">
   <input type="hidden" value="{{user._id}}" id="refuid" name="">
      <input type="hidden" id="displayName" value="{{user.displayName}}" name="">
      <!-- <div class="fakeloader"></div> --> 
      <div class="wrapper">
         <div class="sidebar" data-background-color="brown" data-active-color="danger">
            <div class="logo" style=" padding-top: 5px; "> <a href="/account/dashboard" class="simple-text" > <img width="180" src="/images/logo.png" alt=""  class="dashboard-logo"></a> </div>
            <div class="logo logo-mini"> <a href="#" class="simple-text"> 
            <img src="/images/logo.png" alt="Coin" style=" width: 60px; "> </a> </div>
            <div class="sidebar-wrapper">
               
               <ul class="nav">
                  {{#if_eq menu 'dashboard'}} 
                  <li class="active">
                     <a href="/account/dashboard">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Dashboard</p>
                     </a>
                  </li>
                  {{else}} 
                  <li>
                     <a href="/account/dashboard">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <p>Dashboard</p>
                     </a>
                  </li>
                  {{/if_eq}} 
                  <li class="divider"></li>

                  
                  

                  {{#if_eq menu 'ico_buy'}} 
                  <li class="active"><a href="/account/ico">
                     <i class="fa fa-balance-scale" aria-hidden="true"></i>
                     <p>Buy ICO</p>
                  </a> </li>
                  {{else}} 
                  <li><a href="/account/ico">
                     <i class="fa fa-balance-scale" aria-hidden="true"></i>
                     <p>Buy ICO</p>
                  </a> </li>
                  {{/if_eq}} 
                  <li class="divider"></li>

                 {{#if_eq menu 'deposits'}} 
                  <li class="active" id="your_invest">
                     <a href="/account/lending">
                        <i class="fa fa-university"></i> 
                        <p>Lending</p>
                     </a>
                  </li>
                  {{else}} 
                  <li>
                     <a href="/account/lending" id="your_invest">
                        <i class="fa fa-university"></i> 
                        <p>Lending</p>
                     </a>
                  </li>
                  {{/if_eq}} 


                  {{#if_eq menu 'balance'}} 
                  <li class="active" id="">
                     <a href="/account/balance">
                        <i class="fa fa-folder-o"></i> 
                        <p>Wallet</p>
                     </a>
                  </li>
                  {{else}} 
                  <li>
                     <a href="/account/balance" id="">
                        <i class="fa fa-folder-o"></i> 
                        <p>Wallet</p>
                     </a>
                  </li>
                  {{/if_eq}} 

                  {{#if_eq menu 'exchange'}} 
                  <li class="active" id="">
                     <a href="/exchange/market/BTC-LEC">
                        <i class="fa fa-bar-chart"></i> 
                        <p>Exchange</p>
                     </a>
                  </li>
                  {{else}} 
                  <li>
                     <a href="/exchange/market/BTC-LEC" id="">
                        <i class="fa fa-bar-chart"></i> 
                        <p>exchange</p>
                     </a>
                  </li>
                  {{/if_eq}} 

                  

                  
                  {{#if_eq menu 'affiliate'}} 
                  <li class="active"><a href="/account/refferal">
                     <i class="fa fa-user"></i> 
                     <p>Your Affiliates</p></a> 
                  </li>
                  {{else}} 
                  <li><a href="/account/refferal">
                     <i class="fa fa-user"></i> 
                     <p>Your Affiliates</p></a> 
                  </li>
                  {{/if_eq}} 

                  {{#if_eq menu 'network'}} 
                  <li class="active"><a href="/account/system-network" >
                     <i class="fa fa-bar-chart"></i> 
                     <p>System</p></a> 
                  </a> </li>
                  {{else}} 
                  <li ><a href="/account/system-network"  >
                     <i class="fa fa-bar-chart"></i> 
                     <p>System</p></a> 
                  </a> </li>
                  {{/if_eq}}


                  <!-- {{#if_eq menu 'transaction'}} 
                  <li class="active"><a href="/account/history-transaction">
                     <i class="fa fa-list-alt" aria-hidden="true"></i> 
                     <p>Transaction</p></a> 
                  </a> </li>
                  {{else}} 
                  <li ><a href="/account/history-transaction">
                     <i class="fa fa-list-alt" aria-hidden="true"></i> 
                     <p>Transaction</p></a> 
                  </a> </li>
                  {{/if_eq}} -->

                 
                  {{#if_eq menu 'setting'}} 
                  <li class="active">
                     <a href="/account/setting">
                        <i class="fa fa-user-circle"></i> 
                        <p>Account</p>
                     </a>
                  </li>
                  {{else}} 
                  <li class="">
                     <a href="/account/setting">
                        <i class="fa fa-user-circle"></i> 
                        <p>account</p>
                     </a>
                  </li>
                  {{/if_eq}} <!-- =========================== -->
                  <li class="">
                     <a href="/account/logout">
                        <i class="fa fa-share-square"></i> 
                        <p>Logout</p>
                     </a>
                  </li>
               </ul>
               <div class="text-center" id="download">
              
              <div class="social" style="margin-top: 15px;"> 
                 <a href="https://www.facebook.com/LENCOIN/" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://t.me/lencoin" target="_blank"><i class="fa fa-telegram" style=" background: rgb(25, 134, 181); "></i></a>
                 <a href="https://twitter.com/Lencoin1" target="_blank"><i class="fa fa-twitter"></i></a> 
                 <a href="https://plus.google.com/u/0/108424539638376859016" target="_blank"><i class="fa fa-google-plus"></i></a> 
                 <a href="#social"><i class="fa fa-youtube-play"></i></a> 
                 
              </div>
              
           </div>
            </div>
         </div>
         {{#if_eq menu 'exchange_market'}}
      
      
    <div class="modal fade modal_exchange" id="modal_buy_Exchange" tabindex="-1" role="dialog" aria-labelledby="ModalDeposit-label">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">Buy {{MarketName}}</h4>
               </div>
               
            <form id="Form-submit-buy-exchange" method="POST" action="/exchange/submit-buy">
               <input type="hidden" class="token_crt" name="token_crt">
               <input type="hidden" name="MarketName" value="{{MarketName}}" />
               <div class="modal-body">
                  <div class="text-center">
                     <div class="row" style="margin-bottom:20px">
                        <div class="col-sm-3 col-xs-6">
                           <h4 style="font-weight:bold">Type:</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4 data-bind="text:orderTypeMsg">Buy {{exchange}}</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4 style="font-weight:bold">Market:</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4>{{MarketName}}</h4>
                        </div>
                     </div>
                    
                     
                     <div id="form-container">
                        <form role="form" class="form-horizontal" id="submit_buy_exchange">
                           <div class="form-group" style="margin-bottom:10px;float: left;">
                              <h5 class="col-sm-offset-1 col-sm-3">
                                 Quantity:
                              </h5>
                              <div class="col-sm-7">
                                 <div class="input-group">
                                    <input class="form-control text-right" name="quantity" type="text" readonly="readonly" value="0">
                                    <span class="input-group-addon">{{exchange}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="form-group" style="margin-bottom:10px;float: left;">
                              <h5 class="col-sm-offset-1 col-sm-3">
                                 Price:
                              </h5>
                              <div class="col-sm-7">
                                 <div class="input-group">
                                    <input class="form-control text-right" name="price" type="text"  readonly="readonly" value="0">
                                    <span class="input-group-addon">{{namecoin}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="form-group" style="margin-bottom:10px;float: left;">
                              <h5 class="col-sm-offset-1 col-sm-3">
                                 Subtotal:
                              </h5>
                              <div class="col-sm-7">
                                 <div class="input-group">
                                    <input class="form-control text-right" name="subtotal" type="text" readonly="readonly" value="0">
                                    <span class="input-group-addon">{{namecoin}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="form-group" style="margin-bottom:10px;float: left;">
                              <h5 class="col-sm-offset-1 col-sm-3">
                                 Commission:
                              </h5>
                              <div class="col-sm-7">
                                 <div class="input-group">
                                    <input class="form-control text-right" name="commission" type="text" readonly="readonly" value="0">
                                    <span class="input-group-addon">{{namecoin}}</span>
                                 </div>
                              </div>
                           </div>
                           <div class="clearfix"></div>
                           <div class="form-group" style="margin-bottom:10px;float: left;">
                              <h5 class="col-sm-offset-1 col-sm-3">
                                 Total:
                              </h5>
                              <div class="col-sm-7">
                                 <div class="input-group">
                                    <input class="form-control text-right" name="total" type="text" readonly="readonly" value="0">
                                    <span class="input-group-addon">{{namecoin}}</span>
                                 </div>
                              </div>
                           </div>
                        
                     </div>
                     <div class="clearfix"></div>
                     <div class="alert alert-danger alert-dismissable error_submit_buy" style="display: none;"></div>
                     <div class="clearfix"></div>
                     
                  </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 <button type="submit" class="btn btn-primary has-spinner btn-submit-exchain"  style="">
                     <span class="spinner"><i style="display: none;" class="fa fa-spinner fa-pulse"></i></span>
                     <confirm>Confirm</confirm>
                 </button>
             </div>
             <div class="clearfix"></div>
         </form>
            </div>
         </div>
      </div>
      <div class="modal fade modal_exchange" id="modal_sell_Exchange" >
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">Sell {{MarketName}}</h4>
               </div>
               
            <form id="Form-submit-sell-exchange" method="POST" action="/exchange/submit-sell">
               <input type="hidden" class="token_crt" name="token_crt">
               <input type="hidden" name="MarketName" value="{{MarketName}}" />
               <div class="modal-body">
                  <div class="text-center">
                     <div class="row" style="margin-bottom:20px">
                        <div class="col-sm-3 col-xs-6">
                           <h4 style="font-weight:bold">Type:</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4 data-bind="text:orderTypeMsg">Sell {{exchange}}</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4 style="font-weight:bold">Market:</h4>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                           <h4>{{MarketName}}</h4>
                        </div>
                     </div>
                    
                     <div class="bs-callout bs-callout-info" style="display: none;" data-bind="visible:orderIsConditional">
                        <h4>Condition</h4>
                        <p data-bind="text:orderConditionMsg"></p>
                     </div>
                     <div id="form-container">
                        
                        <div class="form-group" style="margin-bottom:10px; float: left;">
                           <h5 class="col-sm-offset-1 col-sm-3">
                              Quantity:
                           </h5>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input class="form-control text-right" name="quantity" type="text" readonly="readonly" value="0">
                                 <span class="input-group-addon">{{exchange}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px; float: left;">
                           <h5 class="col-sm-offset-1 col-sm-3">
                              Price:
                           </h5>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input class="form-control text-right" name="price" type="text"  readonly="readonly" value="0">
                                 <span class="input-group-addon">{{namecoin}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px; float: left;">
                           <h5 class="col-sm-offset-1 col-sm-3">
                              Subtotal:
                           </h5>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input class="form-control text-right" name="subtotal" type="text" readonly="readonly" value="0">
                                 <span class="input-group-addon">{{namecoin}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px; float: left;">
                           <h5 class="col-sm-offset-1 col-sm-3">
                              Commission:
                           </h5>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input class="form-control text-right" name="commission" type="text" readonly="readonly" value="0">
                                 <span class="input-group-addon">{{namecoin}}</span>
                              </div>
                           </div>
                        </div>
                        <div class="form-group" style="margin-bottom:10px; float: left;">
                           <h5 class="col-sm-offset-1 col-sm-3">
                              Total:
                           </h5>
                           <div class="col-sm-7">
                              <div class="input-group">
                                 <input class="form-control text-right" name="total" type="text" readonly="readonly" value="0">
                                 <span class="input-group-addon">{{namecoin}}</span>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                     <div class="clearfix"></div>
                     <div class="alert alert-danger alert-dismissable error_submit_sell" style="display: none;"></div>
                     <div class="clearfix"></div>
                     
                  </div>
               </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                 <button type="submit" class="btn btn-primary has-spinner btn-submit-exchain"  style="">
                     <span class="spinner"><i style="display: none;" class="fa fa-spinner fa-pulse"></i></span>
                     <confirm>Confirm</confirm>
                 </button>
             </div>
         </form>
            </div>
         </div>
      </div>
      {{/if_eq}}
         <div class="main-panel">
            <nav class="navbar navbar-default">
               <div class="container-fluid">
                  <div class="navbar-minimize"> <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon"> <i class="ti-arrow-left"></i> </button> </div>
                  <div class="navbar-header">
                  <div class="text-center price_alt pull-right hidden-xs hidden-sm" style="line-height: 75px;color: #fff">
                        <span style="margin-left: 10px;">BTC/USD: <b class="price_btc_usd">...</b></span> 
                        <span style="margin-left: 15px;">LEC/USD: <b class="price_lec_usd">...</b></span> 
                        <span style="margin-left: 15px;">LEC/BTC: <b class="price_lec_btc">...</b></span>
                     </div>  

                   <button type="button" class="navbar-toggle" data-toggle="collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="#"> {{title}} </a> </div>
                  <div class="collapse navbar-collapse">
                     
                     <ul class="nav navbar-nav navbar-right">
                     	<li ><a style="color: #fff;" class="Logout">{{user.displayName}}</a></li>
                        
                       
                        <li class="separator hidden-lg hidden-md"></li>
                     </ul>
                  </div>
               </div>
            </nav>
            {{{ body }}} 
            
         </div>
      </div>
         
      <div id="modalDepositLEC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">Deposit Lencoin (LEC)</h4>
               </div>
               <div class="modal-body text-center">
                  <div class="col-sm-12" data-bind="visible:wallet.showDepositCallOut">
                    
                  </div>
                  <div class="wallets"></div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12" data-bind="visible:wallet.showDepositCallOut">
                     <div class="bs-callout bs-callout-danger" data-bind="html:wallet.displayDepositCallOut">
                        <p><strong>Depositing tokens to this address other than LEC will result in your funds being lost.</strong></p>
                     </div>
                  </div>
               </div>
               <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
            </div>
         </div>
      </div>

      <div id="modalDepositBTC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">DEPOSIT BITCOIN (BTC)</h4>
               </div>
               <div class="modal-body text-center">
                  <div class="col-sm-12" data-bind="visible:wallet.showDepositCallOut">
                     
                  </div>
                  <div class="wallets"></div>
                  <div class="clearfix"></div>
                  <div class="col-sm-12" data-bind="visible:wallet.showDepositCallOut">
                     <div class="bs-callout bs-callout-danger" data-bind="html:wallet.displayDepositCallOut">
                        <p><strong>Depositing tokens to this address other than BTC will result in your funds being lost.</strong></p>
                     </div>
                  </div>
               </div>
               <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
            </div>
         </div>
      </div>
      <div id="modalWithdrawBTC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">CURRENTLY AVAILABLE: <b class="amount_btc">{{satoshi user.balance.bitcoin_wallet.available}}</b> BTC</h4>
               </div>
               <form method="post" name="frmWihtdrawBTC" accept-charset="utf-8" id="frmWihtdrawBTC" class="send-coin-form" autocomplete="off" novalidate="novalidate">
                  <div class="modal-body">
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Address</label> 
                        <div class="input-group"> <input type="text" class="form-control amount_usd" name="address" id="address"> <span class="input-group-addon">ADDR</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Quantity</label> 
                        <div class="input-group"> <input type="text" class="form-control amount_usd" name="amount" id="amount"> <span class="input-group-addon">BTC</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Tx Fee</label> 
                        <div class="input-group"> <input type="text" readonly class="form-control amount_usd" name="fee" id="fee" value="0.001"> <span class="input-group-addon">BTC</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Withdrawal</label> 
                        <div class="input-group"> <input readonly type="text" class="form-control amount_usd" name="amount_withdraw" id="amount_withdraw"> <span class="input-group-addon">BTC</span> </div>
                     </div>
                     
                  </div>
                  <div class="modal-footer"> <button type="submit" class="btn btn-social btn-fill btn-twitter frmWihtdrawBCH_Submit" data-type="coin"><i class="fa fa-cloud-upload" data-icon="fa-bitcoin" style="background-position: right;filter: brightness(0) invert(1)"></i> Withdrawal </button> </div>
               </form>
            </div>
         </div>
      </div>
      <div id="modalWithdrawConfirmBTC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">Confirm Bitcoin Withdrawal</h4>
               </div>
               <form id="Confirm-Submit-BTC" action="/account/balance/withdraw" method="POST">
                  <input type="hidden" name="type" value="BTC"> 
                  <div class="modal-body">
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5 data-bind="text:wallet.labelWithdrawalBaseAddress">Address</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" name="address" type="text" readonly="readonly" value="0"> <span class="input-group-addon" >ADDR</span> </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5>Transaction Fee:</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" type="text" readonly="readonly" value="0.001"> <span class="input-group-addon" >BTC</span> </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5>Total:</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" name="amount" type="text" readonly="readonly" value="0"> <span class="input-group-addon">BTC</span> </div>
                        </div>
                     </div>
                     <input type="hidden" class="token_crt" name="token_crt"> 
                     <div class="alert alert alert-danger alert-dismissable" style="display: none;"> <a class="close" data-dismiss="alert">×</a> <span class="message"></span> </div>
                     {{#if_eq user.security.two_factor_auth.status '1'}}
                     <blockquote style="margin: 0px;">
                        <p style="font-size: 12px;">By inputting your two-factor authentication code, your withdrawal will process immediately.</p>
                     </blockquote>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top:10px"> <input type="text" name="authenticator" class="form-control" placeholder="6-digit authentication code" style=""> </div>
                     </div>
                     {{/if_eq}}
                  </div>
                  <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="submit" class="btn btn-twitter btn-fill confirm_modal_btc">Confirm</button> </div>
               </form>
            </div>
         </div>
      </div>
      <div id="modalWithdrawLEC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">CURRENTLY AVAILABLE: <b class="">{{satoshi user.balance.coin_wallet.available}}</b> LEC</h4>
               </div>
               <form method="post" action="/account/balance/withdraw" accept-charset="utf-8" id="frmWihtdrawLEC" class="send-coin-form" autocomplete="off" novalidate="novalidate">
                  <input type="hidden" name="type" value="LEC"> 
                  <div class="modal-body">
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Address</label> 
                        <div class="input-group"> <input type="text" class="form-control amount_usd" name="address" id="address"> <span class="input-group-addon">ADDR</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Quantity</label> 
                        <div class="input-group"> <input type="text" class="form-control amount_usd" name="amount" id="amount"> <span class="input-group-addon">LEC</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Tx Fee</label> 
                        <div class="input-group"> <input type="text" readonly class="form-control amount_usd" name="fee" value="0.001" > <span class="input-group-addon">LEC</span> </div>
                     </div>
                     <div class="form-group">
                        <label style="padding-left:0px" class="col-md-12">Withdrawal</label> 
                        <div class="input-group"> <input readonly type="text" class="form-control amount_usd" name="amount_withdraw" id="amount_withdraw"> <span class="input-group-addon">LEC</span> </div>
                     </div>
                     
                  </div>
                  <div class="modal-footer"> <button type="submit" class="btn btn-social btn-fill btn-twitter frmWihtdrawBCH_Submit" data-type="coin"><i class="fa fa-cloud-upload" data-icon="fa-bitcoin" style="background-position: right;filter: brightness(0) invert(1)"></i> withdrawal </button> </div>
               </form>
            </div>
         </div>
      </div>
      <div id="modalWithdrawConfirmLEC" class="modal fade" role="dialog" >
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button> 
                  <h4 class="modal-title">Confirm Lencoin Withdrawal</h4>
               </div>
               <form id="Confirm-Submit-LEC" action="/account/balance/withdraw" method="POST">
                  <input type="hidden" name="type" value="LEC"> 
                  <div class="modal-body">
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5 data-bind="text:wallet.labelWithdrawalBaseAddress">Address</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" name="address" type="text" readonly="readonly" value="0"> <span class="input-group-addon" >ADDR</span> </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5>Transaction Fee:</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" type="text" readonly="readonly" value="0.01"> <span class="input-group-addon" >LEC</span> </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-3">
                           <h5>Total:</h5>
                        </div>
                        <div class="col-sm-7">
                           <div class="input-group"> <input class="form-control text-left" name="amount" type="text" readonly="readonly" value="0"> <span class="input-group-addon">LEC</span> </div>
                        </div>
                     </div>
                     <div class="alert alert alert-danger alert-dismissable" style="display: none;"> <a class="close" data-dismiss="alert">×</a> <span class="message"></span> </div>
                     <input type="hidden" class="token_crt" name="token_crt">{{#if_eq user.security.two_factor_auth.status '1'}}
                     <blockquote style="margin: 0px;">
                        <p style="font-size: 12px;">By inputting your two-factor authentication code, your withdrawal will process immediately.</p>
                     </blockquote>
                     <div class="row">
                        <div class="col-sm-offset-1 col-sm-10" style="margin-top:10px"> <input type="text" name="authenticator" class="form-control" placeholder="6-digit authentication code" style=""> </div>
                     </div>
                     {{/if_eq}}
                  </div>
                  <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="submit" class="btn btn-twitter btn-fill confirm_modal_btc">Confirm</button> </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Modal ModalICO--> 
      <div class="modal fade" id="ModalICODetail" >
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">ICO information</h4>
               </div>
               <div class="modal-body">
                     <table class="table tableboders">
                        <thead>
                           <tr>
                              <td>TIME  </td>
                              <td>AMOUNT</td>
                              <td>PRICE/COIN</td>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>Pre-ICO (from 27<sup>th</sup> Nov to 30<sup>th</sup> Nov 2017)</td>
                              <td>800,000</td>
                              <td>$0.4</td>
                           </tr>
                           <tr>
                              <td>01 – 05 (from 01<sup>st</sup> Dec to 05<sup>th</sup> Dec 2017)</td>
                              <td>800,000</td>
                              <td>$0.6</td>
                           </tr>
                           <tr>
                              <td>06 – 10 (from 06<sup>th</sup> Dec to 10<sup>th</sup> Dec 2017)</td>
                              <td>800,000</td>
                              <td>$0.8</td>
                           </tr>
                           <tr>
                              <td>11 – 15 (from 11<sup>th</sup> Dec to 15<sup>th</sup> Dec 2017)</td>
                              <td>900,000</td>
                              <td>$1.0</td>
                           </tr>
                           <tr>
                              <td>16 – 20 (from 16<sup>th</sup> Dec to 20<sup>th</sup> Dec 2017)</td>
                              <td>900,000</td>
                              <td>$1.2</td>
                           </tr>
                           <tr>
                              <td>21 – 25 (from 21<sup>th</sup> Dec to 25<sup>th</sup> Dec 2017)</td>
                              <td>900,000</td>
                              <td>$1.4</td>
                           </tr>
                           <tr>
                              <td>26 – 30 (from 26<sup>th</sup> Dec to 31<sup>th</sup> Dec 2017)</td>
                              <td>900,000 </td>
                              <td>$1.6</td>
                           </tr>
                        </tbody>
                     </table>
                     <p>Total amount: 6.000.000 LEC</p>
                     <p>Payment method: Bitcoin (BTC)</p>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal ModalICO--> 

      <input type="hidden" name="stc-balance" id="stc-balance" value="{{user.balance.coin_wallet.available}} ">  <input type="hidden" name="rate_coin" id="rate_coin" value="{{price_usd}}"> <input type="hidden" name="ast_btc" id="ast_btc" value="0.5"> <input type="hidden" name="btc_usd" id="btc_usd" value="0.5"> <!-- Modal Invest--> 
      <div class="modal fade" id="ModalInvest" tabindex="-1" role="dialog" aria-labelledby="ModalInvest-label">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalInvest-label">Investment</h4>
               </div>
               <form role="form" class="form-horizontal" id="frmInvest" novalidate="novalidate">
                  <div class="modal-body">
                     <div class="well">
                        <div class="text-black"> Curent Price : <strong>1 LEC</strong> = <strong> <span class="one_bitcoin_equal_dollar price_ast_usd">{{price_usd}} </span> USD</strong> </div>
                     </div>
                     <div class="well">
                        <div class="text-black"> LEC balance : <strong class="balnace_coin">{{satoshi user.balance.coin_wallet.available}} LEC</strong> </div>
                     </div>
                     <div class="form-group">
                        <label class="col-md-12">Amount <span class="text-danger small">(Amount must be divisible by 10)</span></label> 
                        <div class="col-sm-6">
                           <div class="input-group"> <input type="text" placeholder="Amount" class="form-control amount_usd" name="amount" id="amount"> <span class="input-group-addon">USD</span> </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="input-group"> <input type="text" class="form-control amount_coin" readonly="" id="amount_coin" name="amount_coin"> <span class="input-group-addon">LEC</span> </div>
                        </div>
                     </div>
                     <hr>
                     <div class="row package p100">
                        <div class="col-xs-4 text-center"> Lending amount  <br><strong>$100 - $1,010</strong> </div>
                        <div class="col-xs-4 text-center"> Interest<br> <strong>Up to 46%/Month</strong> </div>
                        <div class="col-xs-4 text-center"> Capital back <br><strong>After 240 days</strong> </div>
                     </div>
                     <div class="row package p1000">
                        <div class="col-xs-4 text-center"> Lending amount  <br><strong>$1,010 - $5,010</strong> </div>
                        <div class="col-xs-4 text-center"> Interest<br> <strong>Up to 46%/Month</strong> </div>
                        <div class="col-xs-4 text-center"> Capital back <br><strong>After 210 days</strong> </div>
                     </div>
                     <div class="row package p5000">
                        <div class="col-xs-4 text-center"> Lending amount  <br><strong>$5,010 - $10,010</strong> </div>
                        <div class="col-xs-4 text-center"> Interest<br> <strong>Up to 46%/Month</strong> </div>
                        <div class="col-xs-4 text-center"> Capital back <br><strong>After 180 days</strong> </div>
                     </div>
                     <div class="row package p10000">
                        <div class="col-xs-4 text-center"> Lending amount  <br><strong>$10,010 - $50,010</strong> </div>
                        <div class="col-xs-4 text-center"> Interest<br> <strong>Up to 46%/Month</strong> </div>
                        <div class="col-xs-4 text-center"> Capital back <br><strong>After 120 days</strong> </div>
                     </div>

                     <div class="row package p10000">
                        <div class="col-xs-4 text-center"> Lending amount  <br><strong>$50,010 - $100,000</strong> </div>
                        <div class="col-xs-4 text-center"> Interest<br> <strong>Up to 46%/Month</strong> </div>
                        <div class="col-xs-4 text-center"> Capital back <br><strong>After 100 days</strong> </div>
                     </div>
                    
                  </div>
                  <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">Pay from LEC Wallet</button> </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Modal Deposit--> 
      <div class="modal fade" id="ModalDeposit" tabindex="-1" role="dialog" aria-labelledby="ModalDeposit-label">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">LEC Wallet Address</h4>
               </div>
               <div class="modal-body"> </div>
            </div>
         </div>
      </div>
      <!-- Modal Exchange--> 

       <div class="modal fade" id="ModalPromotion" tabindex="-1" role="dialog" aria-labelledby="ModalDeposit-label">
         <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content" style="padding: 0">
               
               <div class="modal-body" style="padding: 0">
                  <img class="img-responsive" src="/images/af9fb1618c4c63123a5d.jpg">
                 
               </div>
               <div class="modal-footer"> 
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>


      <!-- Modal Deposit--> 
      <div class="modal fade" id="ModalSuccessIco" tabindex="-1" role="dialog" aria-labelledby="ModalDeposit-label">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">Successful transaction</h4>
               </div>
               <div class="modal-body text-center">
                  
               </div>
               <div class="modal-footer"> 
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
      <!-- Modal Exchange--> 

      <div class="modal fade" id="ModalTransfer" tabindex="-1" role="dialog" aria-labelledby="ModalTransfer-label">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalTransfer-label">Convert USD to LEC</h4>
               </div>
               <form role="form" class="form-horizontal" id="frmTransfer" novalidate="novalidate">
                  <div class="modal-body">
                     <div class="well">
                        <div class="text-black"> Curent Price : <strong>1 LEC</strong> = <strong> <i class="fa fa-dollar"></i> <span class="one_bitcoin_equal_dollar price_ast_usd">{{price_usd}} USD</span> </strong> </div>
                     </div>
                     <div class="well">
                        <div class="text-black"> Lending Wallet : <strong class="balance_lending">{{user.balance.lending_wallet.available}} USD</strong> </div>
                     </div>
                     <div class="well">
                        <div class="text-black"> Lencoin Wallet : <strong class="balnace_coin">{{satoshi user.balance.coin_wallet.available}} LEC</strong> </div>
                     </div>
                     <div class="form-group">
                        
                        <div class="col-sm-6">
                        	<label class="">Amount USD</label> 
                           <div class="input-group"> <input type="text" placeholder="Amount" class="form-control amount_usd" name="amount" id="amount_transfer"> <span class="input-group-addon">USD</span> </div>
                        </div>
                        <div class="col-sm-6">
                        	<label class="col-md-12">Amount LEC</label> 
                           <div class="input-group"> <input type="text" class="form-control amount_coin" readonly="" id="amount_coin_transfer" name="amount_coin"> <span class="input-group-addon">LEC</span> </div>
                        </div>
                     </div>
                  </div>
                  <div class="form-group text-center">
                     <div class="col-sm-12">
                        <div class="alert alert alert-danger alert-dismissable" style="display: none;">
                           <a class="close" data-dismiss="alert">×</a>
                           <span class="message"></span>
                        </div>
                     </div>
                  </div>
                  <div class="modal-footer"> <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary btnConfirm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing Order">Convert USD to LEC</button> </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Modal ModalICO--> 
      <div class="modal fade" id="ModalICO" >
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                  <h4 class="modal-title" id="ModalDeposit-label">BUY ICO LEC</h4>
               </div>
               <div class="modal-body">
                  {{#if_eq total_ico.status '1'}}



                     <form method="post" accept-charset="utf-8" id="frmICO" action="/ico/submit-buy" class="send-coin-form" autocomplete="off" onsubmit="return false" novalidate="novalidate">
                     
                     <div class="form-group">
                        <label class="control-label" for="to_coin_address">Amount Lencoin</label>
                        <div class="input-group">
                           <div class="input-group-btn vat">
                              <span class="btn btn-social btn-fill btn-twitter" disabled=""><i class="fa fa-chain"></i></span>
                           </div>
                           <input autocomplete="off" class="form-control" type="text" name="amount_coin" id="amount_coin" placeholder="Lencoin Amount">
                          
                     </div>

                     <div class="form-group">
                        <label class="control-label" for="to_coin_address">Curent Price LEC</label>
                        <div class="input-group">
                           <div class="input-group-btn vat">
                              <span class="btn btn-social btn-fill btn-twitter" disabled=""><i class="fa fa-chain"></i></span>
                           </div>
                           <input readonly="true" autocomplete="off" class="form-control" type="text" value="{{price_ico}} USD" placeholder="Lencoin Amount">
                     </div>

                     <div class="form-group">
                        <label class="control-label" for="to_coin_address">Amount BTC Payment</label>
                        <div class="input-group">
                           <div class="input-group-btn vat">
                              <span class="btn btn-social btn-fill btn-twitter" disabled=""><i class="fa fa-chain"></i></span>
                           </div>
                           <input readonly="true" autocomplete="off" class="form-control" type="text" name="amount_coin" id="amount_btc" placeholder="Amount BTC Payment">
                           
                        </div>
                     </div>
                     
                     <div class="form-group text-center">
                         <div class="g-recaptcha" data-theme="light" data-sitekey="6LfTIDYUAAAAAIscAJ-qcY2EkCCZLfGK3O6FPnSj"></div>
                     </div>

                     <div class="form-group text-center">

                        <div class="alert alert alert-danger alert-dismissable" style="display: none;">
                           <a class="close" data-dismiss="alert">×</a>
                           <span class="message"></span>
                        </div>
                     </div>
                     <div class="form-group text-center">
                        <button type="submit" style="padding: 10px 30px" type="button" class="btn btn-social btn-fill btn-twitter"  data-type="coin">BUY ICO
                        </button>
                     </div>
                     
                  </form>
                  {{/if_eq}} 
                  {{#if_eq total_ico.status '0'}}
                     <h3 class="text-center">ICO Not Opening</h3>

                  {{/if_eq}} 
               </div>
            </div>
         </div>
      </div>
      <!-- Modal ModalICO--> 



      <!-- Modal Deposit--> <!--   Core JS Files   --> <script src="/static/vendors/jquery-3.1.1.min.js" type="text/javascript"></script> <script src="/static/vendors/jquery-ui.min.js" type="text/javascript"></script> <script src="/static/vendors/bootstrap.min.js" type="text/javascript"></script> <script src="/static/vendors/material.min.js" type="text/javascript"></script> <script src="/static/vendors/perfect-scrollbar.jquery.min.js" type="text/javascript"></script> <!--  Plugin for the Wizard --> <script src="/static/vendors/jquery.bootstrap-wizard.js"></script> <!--  Notifications Plugin    --> <script src="/static/vendors/bootstrap-notify.js"></script> <!-- DateTimePicker Plugin --> <!-- <script src="/static/vendors/bootstrap-datetimepicker.js"></script> --> <!-- Vector Map plugin --> <script src="/static/vendors/jquery-jvectormap.js"></script> <!--  DataTables.net Plugin    --> <script src="/static/vendors/jquery.datatables.js"></script> <!-- Sweet Alert 2 plugin --> <script src="/static/vendors/sweetalert/js/sweetalert2.min.js"></script> <script src="/static/vendors/sweetalert/js/swal-forms.js"></script> <!--  Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput --> <script src="/static/vendors/jasny-bootstrap.min.js"></script> <!-- TagsInput Plugin --> <script src="/static/vendors/jquery.tagsinput.js"></script> <!-- Material Dashboard javascript methods --> <script src="/static/js/amaze.js"></script> <!-- Material Dashboard DEMO methods, don't include it in your project! --> <script src="/static/js/demo.js"></script> <!-- fakeLoader --> <!-- <script src="/static/js/fakeLoader.min.js"></script> --> <script type="text/javascript"> $(document).ready(function() {function getCookie(name) {var value = "; " + document.cookie; var parts = value.split("; " + name + "="); if (parts.length == 2) return parts.pop().split(";").shift(); } var popup = getCookie("popupnotifis"); popup != '1' && ($('#modalNotification').modal(), document.cookie = "popupnotifis=1; max-age=1800; path=/;"); $('#datatables').DataTable({"order": [[ 1, "desc" ]], "pagingType": "full_numbers", "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"] ], responsive: true, language: {search: "_INPUT_", searchPlaceholder: "Search records", } }); var table = $('#datatables').DataTable(); $('.card .material-datatables label').addClass('form-group'); }); $(document).ready(function() {$('#datatables-transaction').DataTable({"order": [[ 0, "desc" ]], autoWidth: false, searching: false, ordering: true, responsive: true, lengthChange: false, destroy: true, paging:   true, info:     false, }); var table = $('#datatables-transaction').DataTable(); $('.card .material-datatables label').addClass('form-group'); }); </script> <!-- =========== --> <!-- <script src="/static/js/fakeLoader.min.js"></script> --> <script src="/static/js/clipboard.min.js"></script> <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script> <script src="/socket.io/socket.io.js"></script> <script src="/static/js/main.js"></script>
      <script src="/static/js/withdraw.js"></script>
      <script src="/static/js/jstree.min.js"></script> <script>var clipboard = new Clipboard('.copy');clipboard.on('success', function(e) { return true;});clipboard.on('error', function(e) {return false;});</script> 
      <script src="/static/js/jquery.form.js" type="text/javascript"></script>
      {{#if_eq menu 'ico_buy'}}
      <script src="/static/js/ico.js"></script>

      <script src='https://www.google.com/recaptcha/api.js'></script> 
     
      {{/if_eq}}
      {{#if_eq menu 'dashboard'}} 
          <script type="text/javascript">
            $('#ModalPromotion').modal();
         </script>        
      {{/if_eq}} 
      {{#if_eq menu 'balance'}} 
         <script src="/static/js/balance.js" type="text/javascript"></script>
      {{/if_eq}} 
      {{#if MarketName}}

         <script src="/static/exchange/angular.js"></script>
        <script src="/static/exchange/ui-bootstrap-tpls-0.11.0.js"></script>
        <script src="/static/exchange/controller.js"></script>
        <script src="/static/js/jquery.toast.js" type="text/javascript"></script>
        <script src="/static/js/exchange.js"></script>
      {{/if}}
   </body>
</html>